{% extends "core/base.html" %}

{% block title %}Inicio{% endblock title %}

{% block content %}
    <div class="text-center">
        <h1 class="display-4">Bienvenido, {{ user.username }} 👋</h1>
        <p class="lead">Esta es tu página de inicio protegida.</p>
        <div class="mt-4">
            <a href="#" class="btn btn-primary btn-lg me-2">Ir a Dashboard</a>
            <a href="#" class="btn btn-outline-secondary btn-lg">Ver Reportes</a>
        </div>
    </div>
{% endblock content %}
